.preview-card {
    width: 1182px;
    height: 1039px;
    border: 1px solid #474747;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
}

.company-preview-card {
    width: 1182px;
    height: 650px;
    border: 1px solid #474747;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
    margin-top: 3%;
}

.company-card-body {
    margin-top: 2%;
    max-height: 430px;
    overflow-y: auto;
    overflow-x: hidden;
}

.company-card-body::-webkit-scrollbar {
    width: 1px; 
}

.company-card-body::-webkit-scrollbar-thumb {
    background-color: #1DDA63;
    border-radius: 5px;
}

.company-card-body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.Preview-Back-Btn {
    width: 131px;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    border: 1px solid #1DDA63;
    color: #1DDA63;
    font-size: 20px;
}

.Preview-Next-Btn {
    width: 131px;
    height: 50px;
    background-color: #1DDA63;
    border-radius: 5px;
    border: none;
    color: black;
    font-size: 20px;
}

.company-preview-text-container {
    margin-top: -18%;
}

/* mobile screen media query */
@media only screen and (max-width: 768px) {

    .Group430 {
        display: none;
    }

    .company-preview-card {
        width: 90%;
        margin-top: 10%;
    }

    .company-preview-text-container {
        margin-top: 10%;
    }

    .company-info-part {
        margin-top: 5%;
      }
    
      .company-info-part p {
        margin-bottom: 10px;
      }
    
      .company-info-part .row {
        flex-direction: column;
        align-items: center;
      }
    
      .company-info-part .row .col {
        width: 100%;
        margin-bottom: 20px;
      }

      .company-perview-buton-container {
        display: flex;
        width: 100%;
        justify-content: center;
      }

      .personal-info-part {
        margin-top: 5%;
      }
    
      .personal-info-part p {
        margin-bottom: 10px;
      }
    
      .personal-info-part .row {
        flex-direction: column;
      }
    
      .personal-info-part .row .col {
        width: 100%;
        margin-bottom: 20px;
      }
}

@media only screen and (min-width: 768px) {
    .company-preview-text-container {
        margin-top: -18%;
    }
    
    .company-preview-card {
        width: 1182px;
        height: 650px;
    }
}

@media only screen and (min-width: 992px) {

    .company-preview-text-container {
        margin-top: -18%;
    }

    .company-preview-card {
        width: 1182px;
        height: 650px;
    }
}

@media only screen and (min-width: 1200px) {
    .company-preview-text-container {
        margin-top: -18%;
    }

    .company-preview-card {
        width: 1182px;
        height: 650px;
    }   
}
